services:
  backend:
    build: ./webServer
    container_name: backend
    ports:
      - "8081:8081"
    networks:
      - network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - network

networks:
  network:
    driver: bridge
