apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
      listen 80;
      server_name localhost;

      auth_basic "Restricted Access";
      auth_basic_user_file /etc/nginx/.htpasswd;

      location / {
        root /usr/share/nginx/html;
        index index.html;
      }
    }
